#timer
{
    font-size: 5em;
    color: aquamarine;
    display: block;
    position: absolute;
    right: 6%;
    width: 30%;
    height: 620px;
    top: 9px;
    border: 1px solid grey;
    border-radius: 3px;
}
#canvas
{
    border : 1px solid grey;
    border-radius : 3px;
    display: block;

}
#text
{
    width : 100%;
    height : 60px;
    top: 9px;
    text-align: center;
    font-size: 50;
}
#data
{
    width : 100%;
    height: 60px;
    top: 85px;
    text-align: center;
    font-size: 50;
}
#pause
{
    width : 100%;
    height: 60px;
    top: 150px;
    text-align: center;
    font-size: 40;  
}
#resume
{
    width : 100%;
    height: 60px;
    top: 150px;
    text-align: center;
    font-size: 40;    
}