#game_start
{
    position: absolute;
    top : 25%;
    left: 0%;
    width : 400px;
    height : 50px;
    text-align: center;
    font-size: 50;
    margin-left: 400px;
}
#game_rules
{
    position: absolute;
    top : 43%;
    left: 0%;
    width : 400px;
    height : 50px;
    text-align: center;
    margin-left: 400px;
    font-size: 50;
}
#game_help
{
    position: absolute;
    top : 58%;
    left: 0%;
    width : 400px;
    height : 50px;
    text-align: center;
    margin-left: 400px;
    font-size: 50;
}
#game_high
{
    position: absolute;
    top : 75%;
    left: 0%;
    width : 400px;
    height : 50px;
    text-align: center;
    font-size: 50;
    margin-left: 400px;
}